@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #28324e;
}
#ext_menu-9 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#content4-c .mbr-section__col .mbr-header__text SPAN {
  font-size: 18px;
  color: #000000;
}
#social-buttons2-d .mbr-header__text {
  color: #28324e;
}

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#gallery1-1 SMALL {
  text-align: center;
}
#pricing-table1-2 SPAN {
  font-size: 36px;
}
#content4-6 .mbr-section__col .mbr-header__text SPAN {
  font-size: 18px;
  color: #000000;
}
#content4-6 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#content4-6 P {
  color: #ffffff;
}
#social-buttons2-7 .mbr-header__text {
  color: #000000;
}

#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-e .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #28324e;
}
#ext_menu-e .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#content4-h .mbr-section__col .mbr-header__text SPAN {
  font-size: 18px;
  color: #000000;
}
#social-buttons2-i .mbr-header__text {
  color: #28324e;
}
